# The DEFAULT section contains the config common to all subsections.
# Redefining a value in a subsection overrides the DEFAULT's one.
[DEFAULT]

# Dynamic DNS Server
SERVER=infomaniak.com
LOGIN=myUserName
PASSWORD=mySuperSecretPassword

[mysite]
# Main domain
DOMAIN=mysite.cloud

[matrix]
# The matrix.mysite.cloud subdomain
DOMAIN=matrix.mysite.cloud

[mastodon]
# The mastodon.mysite.cloud subdomain
DOMAIN=mastodon.mysite.cloud

[mysite2]
# Another domain, but this is provided by another dynamicdns service
# so we re-define server, login and password to override the DEFAULT ones
SERVER=anotherdyndns.com
LOGIN=anotherUserName
PASSWORD=anotherSuperSecretPassword
DOMAIN=mysite2.io
